<form action="/crear" method="POST" class="crear">
    <div class="formulario">
        <label>Nombre Completo:</label>
        <input type="text" name="usuario">
    </div>
    <br>
    <div class="formulario">
        <label>Email:</label>
        <input type="email" name="email">
    </div>
    <br>
    <div class="formulario">
      <label>Usuario:</label>
      <input type="text" name="usuario">
    </div>
    <br>
    <div class="formulario">
      <label>Contraseña:</label>
      <input type="password" name="clave">
    </div>
    <br>
    <div class="formulario">
        <button type="submit" class="botonformulario">Enviar</button> 
    </div>  
</form>

