Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a

Familia: 'Roboto’


Cuerpos de texto: 12px 
Titulares (Visita/Ofertas): 24px 
Precios: 18px 
Descuentos: 16px
Descripciones: 16px


La caja general realizada debe tener borde superior de 1 pixel, línea solida y color #ebebeb
La caja general realizada debe tener separado el contenido de sus bordes en 15 pixeles en cada uno de sus lados

Para los dipositivos tablets o superiores agregar box-shadow. De la forma:

box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );

crear cuenta:
Nombre y apellido
■ Nombre de usuari@
■ Fecha de nacimiento
■ Domicilio
■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
■ Categorías de interés (puede elegir más de una)
● Electro
● Moda
● Hogar
● Juguetería
● Vida sana
■ Foto de usuario
■ Contraseña
■ Confirmar contraseña
■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario

login:
Nombre de usuari@
● Contraseña
● Botón de enviar que nos lleve a la página principal